<main class="album-view container narrow">
    <section class="clearfix">
        <div class="column half">
            <img src="{{ album.albumData.albumArtUrl }}" class="album-cover-art">
        </div>
        <div class="album-view-details column half">
            <h2 class="album-view-title">{{ album.albumData.title }}
				<span class="ion-ios-star" ng-show="album.albumData.titleRated" ng-click="album.albumData.titleRated = false"></span>
				<span class="ion-ios-star-outline" ng-hide="album.albumData.titleRated" ng-click="album.albumData.titleRated = true"></span>
			</h2>
            <h3 class="album-view-artist">{{ album.albumData.artist }}
				<span class="ion-ios-star" ng-show="album.albumData.artistRated" ng-click="album.albumData.artistRated = false"></span>
				<span class="ion-ios-star-outline" ng-hide="album.albumData.artistRated" ng-click="album.albumData.artistRated = true"></span>
			</h3>
            <h5 class="album-view-release-info">{{ album.albumData.year + " " + album.albumData.label}}</h5>
        </div>
    </section>
    <table class="album-view-song-list">
		<tr class="album-view-song-item" ng-mouseover="hovered = true" ng-mouseleave="hovered = false" ng-repeat="song in album.albumData.songs">
			<td class="song-item-number">
     			<span ng-show="!song.playing && !hovered">{{ $index + 1 }}</span>
				<a class="album-song-button" ng-show="!song.playing && hovered" ng-click="album.songPlayer.play(song)"><span class="ion-play"></span></a>
				<a class="album-song-button" ng-show="song.playing" ng-click="album.songPlayer.pause(song)"><span class="ion-pause"></span></a>
			</td>
			<td class="song-item-title">{{ song.title }}</td>
            <td class="song-item-duration">{{ song.duration | timecode }}</td>
			<td class="ion-android-checkbox-outline-blank" ng-hide="song.checked" ng-click="album.songPlayer.addPlaylist(song)"></td>
			<td class="ion-android-checkbox-outline" ng-show="song.checked" ng-click="album.songPlayer.removePlaylist(song)"></td>
			<td class="icon ion-ios-star-outline" ng-hide="song.rated" ng-click="song.rated = true"></td>
			<td class="icon ion-ios-star" ng-show="song.rated" ng-click="song.rated = false"></td>
        </tr>
    </table>

	<table class="album-view-song-list">
		<tr>
			<td><h3>Playlist</h3></td>
            <td><a class="play-pause">
            	<span class="ion-play" 
					  ng-show="!playerBar.songPlayer.currentSong.playing" 
					  ng-click="playerBar.songPlayer.play()">
				</span>
				<span class="ion-pause"
					  ng-show="playerBar.songPlayer.currentSong.playing"
					  ng-click="playerBar.songPlayer.pause()"
				</span>
			</a></td>
		</tr>
		<tr class="album-view-song-item" ng-mouseover="hovered = true" ng-mouseleave="hovered = false" ng-repeat="song in album.albumData.songs | filter:true:song.checked">
			<td class="song-item-number">
     			<span ng-show="!song.playing && !hovered">{{ $index + 1 }}</span>
				<a class="album-song-button" ng-show="!song.playing && hovered" ng-click="album.songPlayer.play(song)"><span class="ion-play"></span></a>
				<a class="album-song-button" ng-show="song.playing" ng-click="album.songPlayer.pause(song)"><span class="ion-pause"></span></a>
			</td>
			<td class="song-item-title">{{ song.title }}</td>
            <td class="song-item-duration">{{ song.duration | timecode }}</td>
			<td class="ion-android-checkbox-outline-blank" ng-hide="song.checked" ng-click="album.songPlayer.addPlaylist(song)"></td>
			<td class="ion-android-checkbox-outline" ng-show="song.checked" ng-click="album.songPlayer.removePlaylist(song)"></td>
			<td class="icon ion-ios-star-outline" ng-hide="song.rated" ng-click="song.rated = true"></td>
			<td class="icon ion-ios-star" ng-show="song.rated" ng-click="song.rated = false"></td>
        </tr>
    </table>	
	
</main>

<ng-include src="'/templates/player_bar.html'"></ng-include>
